
* {
	box-sizing: border-box;
}
body {
	background-image: url(../images/2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	width: 70%;
	height: 100vh;
	font-size: 1.5em;
	color: #000;
    font-family: monospace;
    line-height: 2;
}

.container img {
    border-radius: 10px;
    width: 30%;
    margin: 0;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	width: 60%;
	margin: auto;
}

header {
	text-align: center;
}

.content {
	display: flex;
	flex-flow: column nowrap;
}

.navbar {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}

.nav {
	flex-grow: 1;
	padding: 15px;
	margin: 5px;
	border-radius: 15px;
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

.nav:hover {
		background: coral;
		color: #000;
		font-weight: bold;
}

a {
	text-decoration: none;
	color: #fff;
}



#form {
	 font-size: 0.7em;
	 display: flex;
	 margin: 5px;
	 align-content: center;
}

#display {
	padding: 10px;
	color: #000;
	margin: 5px;
}

#submit {
	 color: #fff;
	 background-color: #300;
}

input {
	font-family: monospace;
	font-size: 1em;
	border-radius: 5px;
	margin: 5px;
	padding: 6px;
}


#landing {
    color: #000;
}

#signupForm {
	display: block;
	justify-content: center;
}

#signInForm {
	display: flex;
	justify-content: center;
}


 /*@media screen and (min-width: 415px and max-width: 1276) {*/
 @media screen and (min-width: 415px) {
	body {
		font-size: 4em;
         display: flex;
         flex: column nowrap;
		width: 100%;
		height: 100vh;
	}

	img {
		margin: 0;
	}

	/*.container {
        /* display: flex; */
		/*width: 100%;*/
	/*}*/

	/*.nav {*/
		/*padding: 5px;*/
	/*}*/

	/*.navbar, .row {*/
		/*width: 100%;*/
	/*}*/
}